*{
    --primary-color: #7c3aed;
    font-family: "Montserrat", sans-serif;
}
 
.container{
    margin: 4rem auto 7rem;
    text-align: center;
    width: 50vw;
}
 .heading{
    font-size:2rem;
    text-align: center;
     padding-top: 5rem;
    color:var(--primary-color) ;
    min-width: 100vw;
}
.description{
    text-align: center;
    display: flexbox;
     
}

label{
    display: block;
    text-align: center;
    margin: 1rem;
}
input{
       margin-left: auto;
       margin-right: auto;
       width: 20vw;
     display: block;
     padding: 1rem;
     border-radius: .5rem;
     border:2px solid  var(--primary-color);
     font-size: x-large;
}
#bill-amount{
    color:var(--primary-color);
     text-align: center;
}

#cash-given{
    color:var(--primary-color) ;
    
}
#check-button{
    margin: 2rem;
    text-align: center;
    margin-left:auto ;
    margin-right: auto;
    display: block;
    width: auto;
    padding: .8rem;
    text-align: center;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    border-radius: .5rem;
    color: white;
    background: var(--primary-color);
}

.change-table{
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  display: block;
    
}
caption{
    font-size: x-large;
    text-align: center;
}

td{
    border: 2px solid var(--primary-color);
    padding: 20px;
    text-align: center;
    color:  black;
     

}